@model List<LibraryWithMVC.Models.Entity.tbl_announcement>

@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Duyurular</h2>
<hr />

<!-- Kitap Listesi -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kategori</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Duyuru Tarihi</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.anc_category</td>
                <td>@item.anc_title</td>
                <td>@item.anc_message</td>
                <td>@item.anc_beginDate.Value.ToString("dd MMMM yyyy")</td>
                <td><a href="/Announcement/EditAnnouncement/@item.anc_id" class="btn btn-primary">Güncelle</a></td>
                <td>@Html.ActionLink("Sil", "DeleteAnnouncement", new { id = item.anc_id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinize Emin Misiniz?')" })</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Announcement/AddAnnouncement/" class="btn btn-outline-primary">Yeni Duyuru Yaz</a>
