@model LibraryWithMVC.Models.Entity.tbl_movement
@{
    ViewBag.Title = "Deylar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>
<hr />

@{
    string renkClass = ViewBag.day > 30 ? "text-danger" : "text-success";
}

@using (Html.BeginForm("###", "###", FormMethod.Post))
{
    @Html.HiddenFor(x => x.mvm_id)

    <div class="form-group mt-3 mb-3">
        @Html.LabelFor(x => x.mvm_mmb, "Üye Adı")
        @Html.TextBox("MemberName", (string)ViewBag.MemberName, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group mt-3 mb-3">
        @Html.LabelFor(x => x.mvm_bk, "Kitap Adı")
        @Html.TextBox("BookName", (string)ViewBag.BookName, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group mt-3 mb-3">
        @Html.LabelFor(x => x.mvm_stf, "Personel Adı")
        @Html.TextBox("StaffName", (string)ViewBag.StaffName, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group mt-3 mb-3">
        @Html.Label("Ödünç Tarihi")
        @Html.TextBoxFor(x => x.mvm_receipt_date, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group mt-3 mb-3">
        @Html.Label("Geri Vermesi Gereken Tarih")
        @Html.TextBoxFor(x => x.mvm_delivery_date, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group mt-3 mb-3">
        @Html.Label("Geri Verdiği Tarih")
        @if (Model.mvm_return_date != null)
        {
            @Html.TextBoxFor(x => x.mvm_return_date, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
        }
        else
        {
            @Html.TextBox("returnDate", "Kitap Henüz Geri Verilmemiş", new { @class = "form-control", @readonly = "readonly", style="color:red" })
        }

    </div>

}
