@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryWithMVC.Models.Entity.tbl_member>

@{
    ViewBag.Title = "Üyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üye Listesi</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Üye Adı</th>
            <th>Üye Soyadı</th>
            <th>Mail</th>
            <th>Kullanıcı Adı</th>
            <th>Şifre</th>
            <th>Telefon</th>
            <th>Okul</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.mmb_id</td>
                <td>@item.mmb_name</td>
                <td>@item.mmb_surname</td>
                <td>@item.mmb_email</td>
                <td>@item.mmb_username</td>
                <td>@item.mmb_password</td>
                <td>@item.mmb_tel</td>
                <td>@item.mmb_school</td>
                <td><a href="/Member/EditMember/@item.mmb_id" class="btn btn-primary">Güncelle</a></td>
                <td>@Html.ActionLink("Sil", "DeleteMember", new { id = item.mmb_id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinize Emin Misiniz?')" })</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Member", new { Page = page }),
        new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<< İlk",
            LinkToPreviousPageFormat = "< Önceki",
            LinkToNextPageFormat = "Sonraki >",
            LinkToLastPageFormat = "Son >>"
        })
</div>

<a href="/Member/AddMember/" class="btn btn-outline-primary">Yeni Üye Ekle</a>