@model LibraryWithMVC.Models.Entity.tbl_message
@{
    ViewBag.Title = "Mesaj Gönder";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}

<h2>Mesaj Gönder</h2>
<hr />

@using (Html.BeginForm("NewMessage", "Message", FormMethod.Post))
{

    <div class="form-group mt-3">
        @Html.LabelFor(x => x.msg_recipient, "Alıcı")
        @Html.DropDownListFor(x => x.msg_recipient, (List<SelectListItem>)ViewBag.Recipient, new { @class = "form-control", @required = "@required" })
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(x => x.msg_subject, "Konu")
        @Html.TextBoxFor(x => x.msg_subject, new { @class = "form-control", @required = "@required" })
        @Html.ValidationMessageFor(x => x.msg_subject, "", new { @style = "color:red" })
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(x => x.msg_content, "Mesaj")
        @Html.TextAreaFor(x => x.msg_content, new { @class = "form-control", rows = "5", @required = "@required" })
        @Html.ValidationMessageFor(x => x.msg_content, "", new { @style = "color:red" })
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Gönder</button>
    </div>
}


