
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}

<h2>Student</h2>

<table class="table table-hover">
    <tr>
        <td>
            <label style="font-weight:bold">Ad-Soyad: </label>@HttpContext.Current.User.Identity.Name
        </td>
    </tr>
    <!--<tr>
        <td>-->
            @*@Session["id"]*@
        <!--</td>
    </tr>-->
    <tr>
        <td>
           <label style="font-weight:bold">Ad: </label>@Session["Name"]
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Soyad: </label>@Session["Surname"]
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">E-Mail: </label>@Session["Email"]
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Kullanıcı Adı: </label>@Session["Username"]
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Telefon: </label>@Session["Tel"]
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Okul: </label>@Session["School"]
        </td>
    </tr>
</table>
